<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../static/images/portfolio_favicon.png">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/projects/project1.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="../../index.html">Back</a>
            <h1 class="logo">Gem & Jewelry Online Shop</h1>
        </div>
    </nav>

    <main class="project-images">
        <div class="images">
            <img src="../../static/images/project1/Untitled_1.png" alt="project image">
            <img src="../../static/images/project1/Untitled_2.png" alt="project image">
            <img src="../../static/images/project1/Untitled_3.png" alt="project image">
            <img src="../../static/images/project1/Untitled_4.png" alt="project image">
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2025 Svetoslav Baykov</p>
            <div class="social">
                <a href="https://github.com/ChesterLen" target="_blank">GitHub</a>
                <a href="https://linkedin.com/in/yourname" target="_blank">LinkedIn</a>
            </div>
        </div>
    </footer>

    <script src="../../static/js/project1.js"></script>
</body>

</html>