<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/projects/project1.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="http://127.0.0.1:5500/templates/home_page.html">Back</a>
            <h1 class="logo">Gem & Jewelry Online Shop</h1>
        </div>
    </nav>

    <main class="project-images">
        <div class="images">
            <img src="../../static/images/Untitled.png" alt="project image">
            <img src="../../static/images/Untitled2.png" alt="project image">
            <img src="../../static/images/Untitled3.png" alt="project image">
            <div class="empty-div"></div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Svetoslav Baykov</p>
            <div class="social">
                <a href="https://github.com/ChesterLen" target="_blank">GitHub</a>
                <a href="https://linkedin.com/in/yourname" target="_blank">LinkedIn</a>
            </div>
        </div>
    </footer>

    <script src="../../static/js/project1.js"></script>
</body>

</html>